* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Mejora la gestión de padding y borde */
  font-family: "Press Start 2P", system-ui;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #f5f5f5;

  margin: 0;
}

.container {
  display: grid;
  
  max-width: 1200px; /* Centra el contenedor */
  margin: 2em auto;
  padding: 1em;
  min-height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "buscador buscador buscador"
    "main main infoPokemon"
    "main main infoPokemon"
    "paginas paginas paginas"
    "footer footer footer";
  gap: 1.5em; 
}

header {
  grid-area: header;
  text-align: center;
  padding: 1em 0;
 background: linear-gradient(135deg, #e0eaf7, #dc7171);


  color: white;
  border-radius: 10px;
}

.headerTitulo {
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 
    2px 2px 5px rgba(255, 255, 255, 0.8), 
    0 0 25px #fff, 
    0 0 5px rgba(255, 255, 255, 0.5);
}

.containerBuscador {
  grid-area: buscador;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.inputBuscador {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 60%;
}

.buscadorBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buscadorBtn:hover {
  background-color: #0056b3;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns:  repeat( minmax(200px, 1fr));
  gap: 1.5em;
}

.tarjeta-1 {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0; 
  border-radius: 15px; 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
  padding: 1.5em;
  text-align: center;
  position: relative;
  overflow: hidden; /* Asegura que el contenido no se salga */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.tarjeta-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/fondoPoke.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: 1; /* Fondo desenfocado tiene un z-index más bajo */
}


.tarjeta-1:hover {
  transform: scale(1.01); /* Aumenta ligeramente el tamaño al pasar el mouse */
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}

.imagen-tarjeta {
  position: relative; /* Asegura que esté encima del pseudo-elemento */
  z-index: 2; /* La imagen estará por encima del fondo desenfocado, pero debajo del texto */
}

.tarjeta-datos{
  position: relative; /* Hace que el texto se sitúe encima del fondo */
  z-index: 3; /* El texto debe estar encima de la imagen de fondo */
 color: lavender;
 background: linear-gradient(135deg, #f2ebe9, #ff000067);
 border-radius: 1em;
 box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
 text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
padding: 10px;
 
}



.info-pokemon {
	grid-area: infoPokemon;
	background-color: #f5f5f5;
	padding: 1.5em;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
}

.info-pokemon img {
  max-width: 50%;
  border-radius: 10px;
  margin-bottom: 1em;
  transition: transform 0.3s ease;
} 

.lista-img img{ max-width: 20%;}

.info-pokemon img:hover {
  transform: scale(1.1);
}

.paginas {
  grid-area: paginas;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #333;
  color: white;
  border-radius: 10px;
}
/* Recuadro general para movimientos, tipo y peso */
.recuadro {
  background-color: #f9f9f9; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  padding: 10px; 
  text-align: center;
  margin: 5px 0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Estilo para tipo */
.datosType {
  background-color: #e0f7fa; 
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  color: #00796b; 
  margin: 5px;
  border: 1px solid #b2dfdb; 
}

/* Estilo para peso */
.datosPeso {
  background-color: #fff8e1; 
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  color: #f57c00; 
  margin: 5px;
  border: 1px solid #ffe0b2; 
}

/* Recuadro de movimientos */
.movimientos li {
  list-style: none;
  background-color: #e8f5e9;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  margin: 5px;
  color: #2e7d32; 
  border: 1px solid #c8e6c9; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  white-space: normal; 
  
}
/* Estilo para centrar y limitar tarjeta en búsqueda */
main.busqueda-resultado {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.tarjeta-1.unica {
  max-width: 300px;
  margin: 0 auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease;
}

.tarjeta-1.unica:hover {
  transform: translateY(-5px); /* Efecto flotante */
}


.footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: -5rem;
}

/* Para pantallas medianas en adelante */
@media (min-width: 1023px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .tarjeta-1 {
    display: flex;
    flex-direction: row; /* Los elementos estarán en una fila (horizontales) */
    justify-content: end;
  }
  
  .tarjeta-datos {
    display: flex;          /* Habilita el uso de flexbox */
    flex-direction: column; /* Hace que los elementos dentro de tarjeta-datos se apilen verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center;    /* Centra el contenido horizontalmente */
    padding: 0.5em;         /* Agrega espacio alrededor del contenido */
    height: auto; 
    width: 80%;          
  }
  
  .tarjeta-datos h1, .tarjeta-datos p {
    text-align: center; /* Centra los textos */
    margin: 0; /* Elimina márgenes innecesarios */
  }
  
}


/* Estilo del texto en el footer */
.footer-text {
  font-size: 0.65rem;
  color: #6b7280;
  margin:1em;
}

.footer-text a {
  color: #6b7280;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-text a:hover {
  text-decoration: underline;
  color: #1f2937;
}

/* Estilos para los iconos en el footer */
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.footer-nav-item {
  font-size: 1.5rem; 
  color: #6b7280;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav-item:hover {
  color: #1f2937;
}


/* Diseño responsivo para pantallas móviles */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr ; 
    grid-template-areas:
      "header"
      "buscador"
      "main"
      "paginas"
      "infoPokemon"
      "footer";
      
  }
  .inputBuscador{
    font-size: 10px;
  }
  main {
    grid-template-columns: repeat(2, 1fr);
    
    gap: 1em; 
  }

  .tarjeta-1 {
    padding: 0.8em;   
    font-size: 10px; 
  }

  .info-pokemon { 
    margin-top: 1em; 
    grid-area: infoPokemon;
    padding: 1em;
  }
  .info-pokemon img{
    max-width: 50%;
  }

  .paginas {
    flex-direction: row; 
    text-align: center;
    
  }
}
